# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Anthony Ilareguy\CLionProjects\airplay-receiver\.idea/dataSources/
/dataSources.local.xml
